export AIRFLOW_HOME=${PWD}/airflow
export AIRFLOW__CORE__DAGS_FOLDER=${PWD}/dags
export AIRFLOW__CORE__LOAD_EXAMPLES=False
export AIRFLOW__CORE__DAG_DISCOVERY_SAFE_MODE=False
export AIRFLOW__API__JWT_ISSUER=airflow

# Fix macOS fork safety issue with multiprocessing
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# Snowflake Credentials
export SNOWFLAKE_PRIVATE_KEY=$(cat ${PWD}/rsa_key.p8 | grep -v "BEGIN PRIVATE KEY" | grep -v "END PRIVATE KEY" | tr -d '\n')
export AIRFLOW__COSMOS__ENABLE_TELEMETRY=False