# Python
.venv/
*.pyc
__pycache__/
*.egg-info/
.pytest_cache/

# Airflow
airflow_data/

# Environment
.env

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.user.yml

# Keys and secrets
rsa_key.*

# OS
.DS_Store

# airflow data
airflow/
